.title {
  width: 170px;
  height: 140;
  margin: 5px
  padding:20px;
  background-color: magenta;
  float: left;
}
body{
    background-color:#83D71F ;
  }

  #menu{
list-style: none;
display: inline-block;
}
#ts{
  position: relative;
}
#posicion{
     position: relative;
}
