#titulo {
  font-style: 
  oblique; 
  color:white;
   font-size: 100px;
}

#menu{
list-style: none;
display: inline-block;
}
.li{
  list-style: none;
  padding: 25px;
  background: #71da7b;
  width: 200%;
  max-width: 1000px;
  margin: auto;
}
.li li a{
  text-decoration: none;
  color: black;
  padding: 100px;
  display:block;
  text-align: center;
}
.li li{
  display: inline-block;
  text-align: center;
} 
#ts{
  position: relative;
}
#posicion{
     position: relative;
}